<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <title>출석 QR코드 생성</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/qrcode.js"></script>
    <script type="text/javascript" src="js/back.js"></script>

</head>
<body>
<h2>출석 생성</h2>
과목 선택
<select name="subject_list" id="subject_list" >
    <option value='none'>===과목선택===</option>
</select>
과목유형 선택
<select name="type_list" id="type_list" >
    <option value='none'>==과목유형선택==</option>
</select>

수업 선택
<select name="course_list" id="course_list" >
    <option value='none'>===수업선택===</option>
</select>
<br></br>

<br>출석 인증 시작시간과 마감시간을 선택해주세요.<br>
<br>출석 인증 시작시간<br>
<input type="datetime-local" id="start_time"/>
<br>출석 인증 마감시간<br>
<input type="datetime-local" id="end_time"/>
<button type="button" id="add_attendance" onclick="make_attendance()">수업 url 생성</button>
<br></br>
<br>생성된 url 입니다!<br>

<input id="text" type="text" name="url" value="" style="width:80%" /><br />
<button type="button" id="qrmake" onclick="makeCode()">qrcode 생성</button>
<div id="qrcode" style="width:100px; height:100px; margin:auto; margin-top:15px;"></div>

<script type="text/javascript">
    let subCategoryArray;
    let courseArray;
    var token=localStorage.getItem('accessToken');
    $(document).ready(function () {
        login_check();
        set_box();
    });

    //*********** 1depth카테고리 선택 후 2depth 생성 START ***********
    $(document).on("change","select[name='subject_list']",function(){

        //두번째 셀렉트 박스를 삭제 시킨다.
        var subCategorySelectBox = $("select[name='type_list']");
        subCategorySelectBox.children().remove(); //기존 리스트 삭제

        //선택한 첫번째 박스의 값을 가져와 일치하는 값을 두번째 셀렉트 박스에 넣는다.
        $("option:selected", this).each(function(){
            var selectValue = $(this).val(); //main category 에서 선택한 값
            subCategorySelectBox.append("<option value=''>==과목유형선택==</option>");
            for(var i=0;i<subCategoryArray.length;i++){
                if(selectValue == subCategoryArray[i].main_category_id){

                    subCategorySelectBox.append("<option value='"+subCategoryArray[i].sub_category_id+"'>"+subCategoryArray[i].sub_category_name+"</option>");

                }
            }
        });

    });

    // 과목 유형을 선택할 때마다 불러오는 강의가 달라져야함
    $(document).on("change","select[name='type_list']",function(){

        //세번째 셀렉트 박스를 삭제 시킨다.
        var subCategorySelectBox = $("select[name='course_list']");
        subCategorySelectBox.children().remove(); //기존 리스트 삭제

        //선택한 두번째 박스의 값을 가져와 일치하는 값을 세번째 셀렉트 박스에 넣는다.
        $("option:selected", this).each(function(){
            var selectValue = $(this).val(); //과목 유형 에서 선택한 값
            var type = $(this).text(); //과목 유형 에서 선택한 값
            console.log(type);
            subCategorySelectBox.append("<option value=''>==수업 선택==</option>");
            $.ajax({
                type: "GET",
                url: `${domainURL}/courses?type=`+type,
                headers: { "Authorization": `Bearer ${token}` },
                success: function (response) {
                    console.log(response)
                    courseArray = new Array();
                    for (let i =0 ;i < response.length ; i++){// obj 길이 만큼 반복
                        course = new Object();
                        course.type_category_id = selectValue;
                        course.course_id = response[i]['id'];
                        course.course_name = response[i]['cname'];

                        //Sub 카테고리 셋팅 (DB에서 값을 가져와 셋팅 하세요.)
                       courseArray.push(course);
                    }
                    console.log(courseArray);
                    for(var i=0;i<courseArray.length;i++){
                        if(selectValue == courseArray[i].type_category_id){
                            subCategorySelectBox.append("<option value='"+courseArray[i].course_id+"'>"+courseArray[i].course_name+"</option>");

                        }
                    }
                }

            });

        });

    });
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 100,
        height : 100
    });

    function makeCode () {
        var elText = document.getElementById("text");

        if (!elText.value) {
            alert("Input a text");
            elText.focus();
            return;
        }

        qrcode.makeCode(elText.value);
    }

    function set_box(){
        var mainCategoryArray = new Array();
        var mainCategoryObject = new Object();

        mainCategoryObject = new Object();
        mainCategoryObject.main_category_id = "1";
        mainCategoryObject.main_category_name = "수학";
        mainCategoryArray.push(mainCategoryObject);

        mainCategoryObject = new Object();
        mainCategoryObject.main_category_id = "2";
        mainCategoryObject.main_category_name = "과학";
        mainCategoryArray.push(mainCategoryObject);

        subCategoryArray = new Array();
        var subCategoryObject = new Object();

        //스포츠에 해당하는 sub category 리스트
        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "1";
        subCategoryObject.sub_category_id = "1"
        subCategoryObject.sub_category_name = "미적분"
        subCategoryArray.push(subCategoryObject);

        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "1";
        subCategoryObject.sub_category_id = "2"
        subCategoryObject.sub_category_name = "기하와벡터"
        subCategoryArray.push(subCategoryObject);

        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "1";
        subCategoryObject.sub_category_id = "3"
        subCategoryObject.sub_category_name = "수1"
        subCategoryArray.push(subCategoryObject);

        //공연에 해당하는 sub category 리스트
        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "2";
        subCategoryObject.sub_category_id = "1"
        subCategoryObject.sub_category_name = "생명과학"
        subCategoryArray.push(subCategoryObject);

        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "2";
        subCategoryObject.sub_category_id = "2"
        subCategoryObject.sub_category_name = "지구과학"
        subCategoryArray.push(subCategoryObject);

        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "2";
        subCategoryObject.sub_category_id = "3"
        subCategoryObject.sub_category_name = "화학"
        subCategoryArray.push(subCategoryObject);

        subCategoryObject = new Object();
        subCategoryObject.main_category_id = "2";
        subCategoryObject.sub_category_id = "4"
        subCategoryObject.sub_category_name = "물리"
        subCategoryArray.push(subCategoryObject);


        //메인 카테고리 셋팅
        var mainCategorySelectBox = $("select[name='subject_list']");

        for(var i=0;i<mainCategoryArray.length;i++){
            mainCategorySelectBox.append("<option value='"+mainCategoryArray[i].main_category_id+"'>"+mainCategoryArray[i].main_category_name+"</option>");
        }
    }
    function make_attendance() {

        var selected_course=document.getElementById('course_list')
        let course= selected_course.options[selected_course.selectedIndex].value;

        var startTime=document.getElementById('start_time').value;
        var endTime=document.getElementById('end_time').value;
        let data = {"course_id": course,"startTime":startTime,"endTime":endTime};
        startTime = startTime.substring(0,4)+startTime.substring(5,7)+startTime.substring(8,10)+startTime.substring(11,13)+startTime.substring(14,16);
        endTime = endTime.substring(0,4)+endTime.substring(5,7)+endTime.substring(8,10)+endTime.substring(11,13)+endTime.substring(14,16);

        startTime *= 1;
        endTime *= 1;
        console.log(startTime)
        console.log(course);
        if(course && startTime && endTime){
            if(startTime > endTime){
                alert("인증시작시간이 마감시간보다 빠릅니다! 다시 설정해주세요")
            }
            else  if(startTime == endTime){
                alert("인증시작시간이 마감시간이 같습니다 ! 다시 설정해주세요")
            }
            else {
                $.ajax({
                    type: "POST",
                    url: `${domainURL}/make/attendance`,
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    headers: {"Authorization": `Bearer ${token}`},
                    success: function (response) {
                        console.log(response)
                        alert('출석이 생성됐습니다!')
                        $('input[name=url]').attr('value', response['url']);
                    }

                });
            }

        }
        else{
            alert('강의 또는 시간을 모두 선택해주세요!')
        }
    }



    function get_course() {
        console.log("1")
        $.ajax({
            type: "GET",
            url: `${domainURL}/all/courses`,
            success: function (response) {
                console.log(response)
                for (let i =0 ;i < response.length ; i++){// obj 길이 만큼 반복

                    var optionValue = response[i]['id']; // 서버에서 전달 받은 value
                    var optionFront = response[i]['cname']; // 사용자에게 보여지는 부분
                    var option = '<option value='+optionValue+'>'+optionFront+'</option>'; // 결합

                    $('#course_list').append(option); // Select 태그에 옵션 태그 추가

                    //Sub 카테고리 셋팅 (DB에서 값을 가져와 셋팅 하세요.)

                    //****************이부분은 DB로 셋팅하세요.



                    //*********** 1depth카테고리 선택 후 2depth 생성 END ***********
                }
            }

        });


    }



</script>
</body>
