<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css" type="text/css">
    <title>Login</title>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript" src="../static/js/back.js"></script>
    <script type="text/javascript">
        $(window).bind("pageshow", function (event) {
            if (event.originalEvent.persisted) {
                console.log('BFCahe로부터 복원됨');
            }
            else {
                console.log('새로 열린 페이지');
            }
        });
        $(function () {
            $('.hide-show').show();
            $('.hide-show span').addClass('show')

            $('.hide-show span').click(function () {
                if ($(this).hasClass('show')) {
                    $(this).text('Hide');
                    $('input[name="password"]').prop('type', 'text');
                    $(this).removeClass('show');
                } else {
                    $(this).text('Show');
                    $('input[name="password"]').prop('type', 'password');
                    $(this).addClass('show');
                }
            });

            $('form button[type="submit"]').on('click', function () {
                $('.hide-show span').text('Show').addClass('show');
                $('.hide-show').parent().find('input[name="password"]').attr('type', 'password');
            });

            getTokenAndRefresh();
            // const accessToken = localStorage.getItem('accessToken');
            // const refreshToken = localStorage.getItem('refreshToken');
            // console.log("되고 있냐...");
            // console.log(accessToken, refreshToken);
            // if (accessToken!=null || refreshToken!=null){
            //     let data = {"accessToken": accessToken, "refreshToken": refreshToken}
            //     $.ajax({
            //         type: "POST",
            //         url: `${domainURL}/auth/refreshToken`,
            //         data: data,
            //         contentType: "application/json",
            //         // contentType: "application/json; charset=UTF-8",
            //         success: function (response) {
            //             if (response) {
            //                 alert("완료");
            //             } else {
            //                 alert("전송된 값 없음");
            //             }
            //             console.log(response)
            //             localStorage.setItem('accessToken', response['accessToken']);
            //             localStorage.setItem('refreshToken', response['refreshToken']);
            //             window.location.href = '/main.html'
            //         },
            //         // error: function (response) {
            //         //     alert(response.message);
            //         //     localStorage.clear();
            //         //     window.location.href = '/swagger-ui.html'
            //         // }
            //         error: function (request, status, error) {
            //             console.log("error");
            //             alert("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
            //         },
            //     })
            // }
        });

        // function getTokenAndRefresh() {
        //     const accessToken = localStorage.getItem('accessToken');
        //     const refreshToken = localStorage.getItem('refreshToken');
        //     console.log("되고 있냐...");
        //     console.log(accessToken, refreshToken);
        //     if (accessToken != null || refreshToken != null) {
        //         let data = {"accessToken": accessToken, "refreshToken": refreshToken}
        //         $.ajax({
        //             type: "POST",
        //             url: `${domainURL}/auth/refreshTokenWeb`,
        //             data: data,
        //             contentType: "application/json",
        //             // contentType: "application/json; charset=UTF-8",
        //             success: async function (response) {
        //                 if (response) {
        //                     alert("완료");
        //                 } else {
        //                     alert("전송된 값 없음");
        //                 }
        //                 console.log(response)
        //                 await localStorage.setItem('accessToken', response['accessToken']);
        //                 await localStorage.setItem('refreshToken', response['refreshToken']);
        //                 window.location.href = '/main.html'
        //             },
        //             // error: function (response) {
        //             //     alert(response.message);
        //             //     localStorage.clear();
        //             //     window.location.href = '/swagger-ui.html'
        //             // }
        //             error: function (request, status, error) {
        //                 console.log("error");
        //                 localStorage.clear();
        //                 alert("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
        //             },
        //         })
        //     }
        // }

        //
        //     $.ajaxSetup({
        //         error: function (jqXHR, exception) {
        //             switch (jqXHR.status) {
        //                 case 401:
        //                     alert('인증 에러!!');
        //                     break;
        //                 case 423:
        //                     alert('중복된 id!!');
        //                     break;
        //             }
        //         },
        //         beforeSend: function (xhr) {
        //             if (localStorage.getItem('accessToken') != null) {
        //                 xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('accessToken'));
        //             } else {
        //                 location.href = "swagger-ui.html"
        //                 alert("로그인 해주세요")
        //             }
        //         }
        //     });
        // });
        // $(function () {
        //     $('.hide-show').show();
        //     $('.hide-show span').addClass('show')
        //
        //     $('.hide-show span').click(function () {
        //         if ($(this).hasClass('show')) {
        //             $(this).text('Hide');
        //             $('input[name="password"]').prop('type', 'text');
        //             $(this).removeClass('show');
        //         } else {
        //             $(this).text('Show');
        //             $('input[name="password"]').prop('type', 'password');
        //             $(this).addClass('show');
        //         }
        //     });
        //
        //     $('form button[type="submit"]').on('click', function () {
        //         $('.hide-show span').text('Show').addClass('show');
        //         $('.hide-show').parent().find('input[name="password"]').attr('type', 'password');
        //     });
        // });

        function adminLogin() {
            if ($('#phoneNumber').val() == '') {
                alert("핸드폰 번호를 입력해주세요!");
                index.phoneNumber.focus();
                return false;
            }
            if ($('#password').val() == '') {
                alert("비밀번호를 입력해주세요!");
                index.password.focus();
                return false;
            }
            var options = {
                success: async function (result) {
                    let authority=result['authority'];
                    if (authority=="ROLE_USER"){
                        alert("선생님 계정으로 로그인해주세요.");
                        throw new Error("선생님 계정으로 로그인해주세요.");
                    }
                    await localStorage.setItem('accessToken', result['accessToken']);
                    await localStorage.setItem('refreshToken', result['refreshToken']);

                    alert('로그인 성공!');
                    // window.location.href = '/main.html'
                    window.location.href = '/main'
                },
                // error: function (request, status, error) {
                //     console.log("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
                //     if(request.status==500){
                //         alert("회원 정보가 없습니다.");
                //         console.log(request.responseText.code)
                //         console.log(request.responseText.code=="INVALID_PASSWORD")
                //         // console.log(Object.equals(request.responseText.code, "INVALID_PASSWORD"))
                //     } else if(request.status==401 && request.responseText.code=="INVALID_PASSWORD" ){
                //         alert("비밀번호가 일치하지 않습니다.");
                //
                //     } else{alert("error!!");}
                // },
                error: function (response) {
                    console.log(response);
                    var result = JSON.parse(response.responseText);
                    console.log(result)
                    console.log(result.error=="INVALID_PASSWORD")
                    console.log()

                    if(response.status==500){
                        alert("회원 정보가 없습니다.");
                        // console.log(request.responseText.code)
                        // console.log(request.responseText.code=="INVALID_PASSWORD")
                        // console.log(Object.equals(request.responseText.code, "INVALID_PASSWORD"))
                    } else if(response.status==401 && result.code=="INVALID_PASSWORD" ){
                        alert(result.message);
                    } else{alert("error!!");}
                },
                type: "POST"
            };
            $("#login").ajaxSubmit(options);
        }
        // e.keyCode == '13'을 통해서 엔터키를 인식하여 로그인 버튼 클릭 이벤트 실행
        //
        // $('#pwd').on('keypress', function(e){
        //     if(e.keyCode == '13'){
        //         $('#loginBtn').click();
        //     }
        // });

        // 뒤로 가기 XXX
        history.pushState(null, null, location.href);
        window.onpopstate = function(event) {
            history.go(1);
        };

        // $("#login").keypress(function(e){
        //     if (e.keyCode==13){
        //         adminLogin();
        //     }
        // });
        function enterLogin() {
            if(window.event.keyCode==13){
                adminLogin();
            }
        }
    </script>
<!--    <script>-->
<!--        $("#login").keypress(function(e){-->
<!--            if (e.keyCode===13){-->
<!--                adminLogin();-->
<!--            }-->
<!--        });-->
<!--    </script>-->
<!--    <script>-->
<!--        history.pushState(null, null, location.href);-->
<!--        window.onpopstate = function(event) {-->
<!--            history.go(1);-->
<!--        };-->
<!--    </script>-->
</head>

<body>
<div class="login_form">
    <section class="login-wrapper">
        <div class="logo">
            관리자 로그인~~!
            <!--            <a target="_blank" rel="noopener" href="https://unrealnavigation.com">-->
            <!--                <img src="https://unrealnavigation.com/_themes/unrealnavigation/img/unreal-navigation-logo.png?v=1474018625" alt=""></a>-->
        </div>

        <form id="login" name="login" method="post" action="/auth/adminLogin">

            <label for="phoneNumber">핸드폰 번호</label>
            <input id="phoneNumber" name="phoneNumber" type="text" value="" autocapitalize="off"
                   autocorrect="off"/>

            <label for="password">비밀번호</label>
            <input id="password" class="password" name="password" type="password" onkeyup="enterLogin()" value=""/>
            <div class="hide-show">
                <span>Show</span>
            </div>
            <button type="button" id="loginButton" onclick="adminLogin()">로그인</button>
        </form>

    </section>
</div>

</body>

</html>
