<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript" src="js/back.js"></script>
    <script type="text/javascript">
        $(function () {
            // $.ajaxSetup({
            //     headers: { "Authorization": `Bearer ${localStorage.getItem('accessToken')}` }
            // });
            login_check();
            // $.ajaxSetup({
            //     error: function (jqXHR, exception) {
            //         switch (jqXHR.status) {
            //             case 401:
            //                 alert('인증 에러!!');
            //                 break;
            //             case 423:
            //                 alert('중복된 id!!');
            //                 break;
            //         }
            //     },
            //     beforeSend: function (xhr) {
            //         if (localStorage.getItem('accessToken') != null) {
            //             xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('accessToken'));
            //         } else {
            //             location.href = "index.html"
            //             alert("로그인 해주세요")
            //         }
            //     }
            // });
        });
        async function logout() {
            const accessToken = await localStorage.getItem('accessToken');
            const refreshToken = await localStorage.getItem('refreshToken');

            let data = {"accessToken": accessToken, "refreshToken": refreshToken}
            $.ajax({
                type: "POST",
                url: `${domainURL}/auth/logout`,
                data: JSON.stringify(data),
                contentType: "application/json",
                success: async function (response) {
                    console.log(response)
                    await localStorage.clear();
                    window.location.href = "/"
                },
                error: function (response) {
                    alert(response.message);
                }
            })
        }
    </script>
<!--    <script>-->
<!--        history.pushState(null, null, location.href);-->
<!--        window.onpopstate = function(event) {-->
<!--            history.go(1);-->
<!--        };-->
<!--    </script>-->
</head>
<body>
<center><div id="main">
    <h1>관리자 페이지</h1><br>
    <button class="w-btn-neon2" type="button" onclick="location.href='attendanceMake'">
        출석 QR생성
    </button>
    <button class="w-btn-neon2" type="button" onclick="location.href='studyMake'">
        자습 QR생성
    </button>
    <button class="w-btn-neon2" type="button" onclick="location.href='studentInfo'">
        학생 정보 관리
    </button>
    <button class="w-btn-neon2" type="button">
        수업 정보
    </button>
    <button class="w-btn-neon2" type="button" onclick="location.href='testUpload'">
        테스트 데이터 업로드
    </button>
    <button class="w-btn-neon2" type="button" onclick="logout()">
        로그아웃
    </button>
</div></center>

</body>
</html>

