<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <title>테스트 데이터 업로드</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript" src="js/back.js"></script>
    <script type="text/javascript">
        var token = localStorage.getItem('accessToken');
        $(function () {
            login_check();
            // getTokenAndRefresh();
            // $.ajaxSetup({
            //     error: function (jqXHR, exception) {
            //         switch (jqXHR.status) {
            //             case 401:
            //                 alert('인증 에러!!');
            //                 break;
            //             case 423:
            //                 alert('중복된 id!!');
            //                 break;
            //         }
            //     },
            //     beforeSend: function (xhr) {
            //         if (localStorage.getItem('accessToken') != null) {
            //             xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('accessToken'));
            //         } else {
            //             location.href = "index.html"
            //             alert("로그인 해주세요")
            //         }
            //     }
            // });
            get_course();
        });

        function checkFileType(filePath) {
            var fileFormat = filePath.split(".");

            if (fileFormat.indexOf("xls") > -1 || fileFormat.indexOf("xlsx") > -1) {
                return true;
            } else {
                return false;
            }
        }

        function check() {
            // checkFileType()
            if (confirm("업로드 여부")) {
                var options = {
                    success: function (result) {
                        if (result.code == "1") {
                            console.log("data 전송 성공");
                            alert(result.msg);
                        } else {
                            console.log("data 전송 실패");
                            alert(result.msg);
                        }
                    },
                    error: function (request, status, error) {
                        console.log("error");
                        alert("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
                    },
                    headers: {"Authorization": `Bearer ${token}`},
                    type: "POST"
                };
                $("#excelUploadForm").ajaxSubmit(options);
            }
        }

        function makeTest() {
            if ($('#course_id').val() == '') {
                alert("수업을 선택해주세요!");
                return false;
            }
            if ($('#test_name').val() == '') {
                alert("테스트 제목을 작성해주세요 \nex) 6월 모고 생명과학");
                makeTestForm.test_name.focus();
                return false;
            }
            if ($('#test_date').val() == '') {
                alert("테스트 날짜를 설정해주세요.");
                makeTestForm.test_date.focus();
                return false;
            }
            var options = {
                success: function (result) {
                    console.log(result)
                    $('#response_test_id').attr('value', result['testCode']);
                    $('#test_code').attr('value', result['testCode']);
                    $('#test_code1').attr('value', result['testCode']);
                    console.log(result)
                    alert('테스트 정보가 입력되었습니다!')
                },
                error: function (request, status, error) {
                    console.log("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
                    alert("테스트 등록 실패");
                },
                headers: {"Authorization": `Bearer ${token}`},
                type: "POST"
            };
            $("#makeTestForm").ajaxSubmit(options);
        }

        // function makeTest() {
        //     var selected_course = document.getElementById('course_list');
        //     let course = selected_course.options[selected_course.selectedIndex].value;
        //
        //     var testName = document.getElementById('test_name').value;
        //     var testDate = document.getElementById('test_date').value;
        //     console.log(testName);
        //     console.log(testDate);
        //     console.log(course);
        //     let data = {"course_id": course, "testName": testName, "testDate": testDate};
        //
        //     $.ajax({
        //         type: "POST",
        //         url: `${domainURL}/test/create`,
        //         contentType: "application/json",
        //         data: JSON.stringify(data),
        //         success: function (response) {
        //             console.log(response)
        //             $('#response_test_id').attr('value', response['id']);
        //             $('#test_code').attr('value', response['id']);
        //             console.log(response)
        //             alert('테스트 정보가 입력되었습니다!')
        //             // $('input[name=url]').attr('value',response['url']);
        //         }
        //     });
        // }

        function checkCourseTestResultsFile() {
            if (confirm("엑셀 파일을 업로드하시겠습니까?")) {
                var options = {
                    success: function (result) {
                        if (result.code == "1") {
                            console.log("data 전송 성공");
                            alert(result.msg);
                        } else {
                            console.log("data 전송 실패");
                            alert(result.msg);
                        }
                    },
                    error: function (request, status, error) {
                        console.log("error");
                        alert("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
                    },
                    headers: {"Authorization": `Bearer ${token}`},
                    type: "POST"
                };
                $("#courseTestResultsFileUploadForm").ajaxSubmit(options);
            }
        }

        function get_course() {
            console.log("1")
            $.ajax({
                type: "GET",
                url: `https://eb.newfine.tk/all/courses`,
                success: function (response) {
                    console.log(response)
                    for (let i = 0; i < response.length; i++) {// obj 길이 만큼 반복

                        var optionValue = response[i]['id']; // 서버에서 전달 받은 value
                        var optionFront = response[i]['cname']; // 사용자에게 보여지는 부분
                        var option = '<option value=' + optionValue + '>' + optionFront + '</option>'; // 결합

                        $('#course_list').append(option); // Select 태그에 옵션 태그 추가
                    }
                }

            });
        }

        var selectBoxChange = function (value) {
            console.log(value);
            $("#course_id").val(value);
        }

        function checkStudentTestResultsFile() {
            if (confirm("엑셀 파일을 업로드하시겠습니까?")) {
                var options = {
                    success: function (result) {
                        if (result.code == "1") {
                            console.log("data 전송 성공");
                            alert(result.msg);
                        } else {
                            console.log("data 전송 실패");
                            alert(result.msg);
                        }
                    },
                    error: function (request, status, error) {
                        console.log("error");
                        alert("code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
                    },
                    headers: {"Authorization": `Bearer ${token}`},
                    type: "POST"
                };
                $("#studentTestResultsFileUploadForm").ajaxSubmit(options);
            }
        }
    </script>


</head>
<body>
<form id="makeTestForm" name="makeTestForm" method="post" action="/admin/makeTestForm.do">
    <br>수업을 입력하세요.<br>
    <select name="course" id="course_list" onchange="selectBoxChange(this.value);">
        <option value='none'>===수업선택===</option>
    </select>
    <input type="text" id="course_id" name="course_id"/>
    <br>테스트 이름<br>
    <input type="text" id="test_name" name="test_name"/>
    <br>테스트 날짜<br>
    <input type="date" id="test_date" name="test_date"/>
    <button type="button" onclick="makeTest()"><span>테스트 정보 저장</span></button>

    <input type="text" id="response_test_id" name="response_test_id" value=""/>
</form>

<br>----------------------------------------------------------------------------<br>

<form id="courseTestResultsFileUploadForm" name="/admin/courseTestResultsFileUploadForm" enctype="multipart/form-data"
      method="post" action="/admin/courseTestResultsFileUpload.do">
    <br>반별 테스트 데이터 입력<br>
    <!--    <br>수업을 입력하세요.<br>-->
    <!--    <select name="course" id="course_list" onchange="selectBoxChange(this.value);">-->
    <!--        <option value='none'>===수업선택===</option>-->
    <!--    </select>-->
    <!--    <input type="text" id="course_id" name="course_id"/>-->
    <!--    <br>테스트 이름<br>-->
    <!--    <input type="text" id="test_name" name="test_name"/>-->
    <!--    <br>테스트 날짜<br>-->
    <!--    <input type="date" id="test_date" name="test_date"/>-->
    <input type="hidden" id="test_code" name="test_code" value=""/>
    <div class="upload_file">
        <label for="courseTestResultsFile">반별 테스트 데이터 업로드</label>
        <input type="file" id="courseTestResultsFile" name="courseTestResultsFile"/>
        <button type="button" onclick="checkCourseTestResultsFile()"><span>저장</span></button>
    </div>
</form>

<br>----------------------------------------------------------------------------<br>

<form id="studentTestResultsFileUploadForm" name="/admin/studentTestResultsFileUploadForm" enctype="multipart/form-data"
      method="post" action="/admin/studentTestResultsFileUpload.do">
    <br>학생 개인별 정오표 입력<br>
    <!--    <br>수업을 입력하세요.<br>-->
    <!--    <select name="course" id="course_list" onchange="selectBoxChange(this.value);">-->
    <!--        <option value='none'>===수업선택===</option>-->
    <!--    </select>-->
    <!--    <input type="text" id="course_id" name="course_id"/>-->
    <!--    <br>테스트 이름<br>-->
    <!--    <input type="text" id="test_name" name="test_name"/>-->
    <!--    <br>테스트 날짜<br>-->
    <!--    <input type="date" id="test_date" name="test_date"/>-->
    <input type="hidden" id="test_code1" name="test_code" value=""/>
    <div class="upload_file">
        <label for="studentTestResultsFile">반별 테스트 데이터 업로드</label>
        <input type="file" id="studentTestResultsFile" name="studentTestResultsFile"/>
        <button type="button" onclick="checkStudentTestResultsFile()"><span>저장</span></button>
    </div>
</form>
</body>
